<div class="profile" *ngIf="showProfile hideProfile">
  <div class="profile__body">
    <button (click)="returnToAccount()" class="return-btn">
      <img src="assets/img/go-back.png" alt="">
    </button>
    <button class="edit-btn" (click)="editInfosBtn()">
      <img src="assets/img/edit.png">
    </button>
    <form [formGroup]="form">
      <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
        <img [src]="imagePreview" [alt]="form.value.title">
      </div>
      <div class="file-uploader">
        <button (click)="filePicker.click()" mat-stroked-button type="button">Ajouter/modifier une photo de profil</button>
        <input type="file" #filePicker (change)="onImagePicked($event)" />
      </div>
      <div *ngFor="let user of users" class="infos-block">
        <div *ngIf="!isHidden isShow" class="infos-block__item">
          <p>Nom</p>
          {{ user.posts.lastname }}
        </div>

        <mat-form-field *ngIf="isShow !isHidden" class="input-wrapper">
          <input matInput name="lastname" [value]="user.posts.lastname" formControlName="lastname" type="text" placeholder="Nom">
        </mat-form-field>

        <div *ngIf="!isHidden isShow" class="infos-block__item">
          <p>Prénom</p>
          {{ user.posts.firstname }}
        </div>

        <mat-form-field *ngIf="isShow !isHidden" class="input-wrapper">
          <input matInput name="firstname" [value]="user.posts.firstname" formControlName="firstname" type="text" placeholder="Prénom">
        </mat-form-field>

        <div class="infos-block__item">
          <p>Email</p>
          {{ user.posts.email }}
        </div>

        <div class="infos-block__item">
          <p>Points cumulés</p>
          <span>320 points</span>
        </div>

        <mat-form-field *ngIf="isShow !isHidden" class="input-wrapper">
          <input matInput name="password" formControlName="password" type="password" placeholder="Mot de passe">
        </mat-form-field>

      </div>
      <button *ngIf="isShow" (click)="saveInfos()" mat-raised-button color="accent" type="submit" class="save-infos-btn">Sauvegarder</button>
      <button *ngIf="isShow" (click)="deleteUserAccount()" mat-raised-button type="submit" class="delete-account-btn">Supprimer le compte</button>
    </form>
  </div>
</div>
