<div class="account" *ngIf="!isShow !isHidden">
  <div class="account__head">
    <img src="assets/img/goplaces-logo.svg" alt="">
  </div>
  <div class="account__body">
    <div class="user-section">
      <div class="user-section__items user-section__items--even items__profile">
        <img src="assets/img/profile.svg" alt="">
        <p>Profil</p>
      </div>
      <div class="user-section__items user-section__items--odd items__places">
        <img src="assets/img/places.svg" alt="">
        <p>Lieux visités</p>
      </div>
      <div class="user-section__items user-section__items--odd items__gifts">
        <img src="assets/img/gifts.svg" alt="">
        <p>Récompenses</p>
      </div>
      <div class="user-section__items user-section__items--even items__favorite">
        <img src="assets/img/favorites.svg" alt="">
        <p>Lieux favoris</p>
      </div>
    </div>
  </div>
</div>
