<div class="account" *ngIf="showAccount">
  <div class="account__body">
    <div class="user-section">
      <button (click)="showProfile()" class="user-section__items user-section__items--even items__profile">
        <img src="assets/img/profile.svg" alt="">
        <p>Profil</p>
      </button>
      <div class="user-section__items user-section__items--odd items__score">
        <img src="assets/img/score.svg" alt="">
        <p>Points</p>
      </div>
      <button (click)="showRewards()" class="user-section__items user-section__items--odd items__rewards">
        <img src="assets/img/gifts.svg" alt="">
        <p>Récompenses</p>
      </button>
      <div class="user-section__items user-section__items--even items__favorite">
        <img src="assets/img/places.svg" alt="">
        <p>Lieux visités</p>
      </div>
    </div>
  </div>
</div>
